.header {
    background-color: #F3C1F8;
    max-height: 74px;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    padding: 18px 70px 18px;
    margin: 0 auto;
}
.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 74px;
}
.header__logo {
    width: 38px;
    height: 38px;
}
.header__nav{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.header__button {
    width: 78px;
    height: 32px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #F3C1F8;
    border: none;
}
.header__button_active {
    background-color: #000000;
    border-radius: 3px;
    color: #FFFFFF
}

@media all and (max-width: 768px) {
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media all and (max-width: 425px) {
    .header{
        padding-left: 14px;
        padding-right: 14px;
    }
    .header__button {
        font-size: 10px;
        line-height: 16px;
    }
}



